您好，请您作为一个善于助人的智能助手，帮助用户解决如下问题：
问题：{{message}}
请您根据用户的问题来从一系列工具中选择，这些工具是一系列函数，以json形式描述。name字段是函数名称，description字段是函数描述，parameters字段则是以jsonSchema格式描述该函数的参数。这些函数是：
{{functions}}
请您选择一个工具，然后告诉我您的选择。为了保证程序后续能正常处理，请你严格以json格式，按照如下格式回答，不要添加其它的信息：
{
    "function": "你所选择的函数名称",
    "parameters": {
        "参数1的名称": "参数1的值",
        "参数2的名称": "参数2的值",
        ...
    },
    "thoughts": "你的思考"
}
我再重复一次，请只输出json格式的数据，不要添加其它的信息。谢谢！